*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  background-color: #040304;
  color: #fff;
  scroll-behavior: smooth;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card{
  width: 30%;
margin: 16px 0;
}

.singleCard img{
display: flex;
margin: auto;
border-radius: 4px;
}
.singleCard h3{
  text-align: center;
  color: #fff;
  text-decoration: none;
margin-top: 16px;
}