*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  background-color: #0f171E;
  color: #fff;
  scroll-behavior: smooth;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 10rem;
}
.card{
  width: 25%;
margin: 16px 0;
}

.singleCard img{
display: flex;
margin: auto;
border-radius: 4px;
}
.singleCard h3{
  text-align: center;
  color: #fff;
  text-decoration: none;
margin-top: 16px;
}
.movie{
  margin: 2rem 10rem;
}
.movieName{
  font-size: 36px;
  margin-bottom: 24px;
}
.rating,.premiere{
  color: #8197A4;
}
.rating{
  font-size: 16px;
  margin-right: 2rem;
}
.premiere,.summary{
  font-size: 16px;
}
.summary{
  line-height: 24px;
}
.summImg{
  display: flex;
  /* align-items: center; */
}
.photo{
  border-radius: 4px;
}
.book{
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  line-height: 24px;
  background-color: #1399DE;
  color: white;
  margin-top: 24px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}